<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </head>
    <body>
        <!--меню-->
        <nav class="container-fluid navbar navbar-expand-lg navbar-dark bg-dark align-self-center">
        <a class="navbar-brand" href="/">Главная</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" align="left">
                @if (this.User.IsInRole("user") || this.User.IsInRole("admin"))
                {

                    @if (this.User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            @Html.ActionLink("Пользователи", "Index", "Users", null, new {@class = "nav-link"})
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Заказчики", "GetAll", "Customer", null, new {@class = "nav-link"})
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Сотрудники", "GetAll", "Employer", null, new {@class = "nav-link"})
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Поставщики", "GetAll", "Provaider", null, new {@class = "nav-link"})
                        </li>
                    }
                    <li class="nav-item">
                        @Html.ActionLink("Склады", "GetAll", "Storage", null, new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Товары", "GetAll", "Product", null, new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Типы товаров", "GetAll", "ProductType", null, new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Производители", "GetAll", "Manufacturer", null, new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Отчеты о получении", "GetAll", "ReceiptReport", null, new {@class = "nav-link"})
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Отчеты о реализации", "GetAll", "ReleaseReport", null, new {@class = "nav-link"})
                    </li>
                }
            </ul>
            <partial name="_LoginPartial" />
          </div>
        </nav>
    

        <!--основной контент-->
        <div class="body-content container">
            @RenderBody()
            <hr />
            <footer>
                <p>© 2022 - Whosales</p>
            </footer>
        </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
    </body>
</html>