@using Whosales.Domain
@using Whosales.Web.HtmlHelpers
@using Whosales.Web.Models;
@using Whosales.Web.Models.Provaiders

@model ProvaidersPageViewModel
@{
	Layout = "ProvaiderLayout";
}
<!--Разделение по страницам-->
@Html.CreatePageNav("Provaider", @Model.PageCount, @Model.CurrentPage)
<div align="center">
	<form>
		<span>
			<label>Название</label>
			<input type="text" name="nameTemplate" value="@Model.nameTemplate" class="form" />
		</span>
		<span>
			<label>Адрес</label>
			<input type="text" name="addressTemplate" value="@Model.addressTemplate" class="form" />
		</span>
		<span>
			<input type="submit" value="🔍" />
		</span>
	</form>
</div>

<table class="table">
	<tr>
		<th>@Html.ActionLink("Название", "GetAll", "Provaider", new{currentPage = @Model.CurrentPage, sortRule = "Name"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Адрес", "GetAll", "Provaider", new{currentPage = @Model.CurrentPage, sortRule = "Address"}, new {@class="btn"} )</th>
		<th>@Html.ActionLink("Номер телефона", "GetAll", "Provaider", new{currentPage = @Model.CurrentPage, sortRule = "TelephoneNumber"}, new {@class="btn"} )</th>
		<th></td>
		<th></th>
	</tr>
	@foreach (var Provaider in Model.Provaiders)
	{
		<tr>
			<td>@Provaider.Name</td>
			<td>@Provaider.Address</td>
			<td>@Provaider.TelephoneNumber</td>
			<td>@Html.ActionLink("Подробнее", "GetById", "Provaider", new {id = @Provaider.ProvaiderId}, new {@class="btn btn-sm btn-primary"})</td>
			@if (this.User.IsInRole("admin"))
			{
				<td>
					@Html.ActionLink("Обновить", "Update", "Provaider", new {id = @Provaider.ProvaiderId}, new {@class="btn btn-sm btn-primary"})
					@Html.ActionLink("Удалить", "Delete", "Provaider", new {id = @Provaider.ProvaiderId}, new {@class="btn btn-sm btn-danger"})
				</td>
			}
		</tr>
	}
</table>
@Html.CreatePageNav("Provaider", @Model.PageCount, @Model.CurrentPage)