@using Whosales.Domain
@using Whosales.Web.HtmlHelpers
@using Whosales.Web.Models;
@using Whosales.Web.Models.Customers

@model CustomersPageViewModel
@{
	Layout = "CustomerLayout";
}
<!--Разделение по страницам-->
@Html.CreatePageNav("Customer", @Model.PageCount, @Model.CurrentPage)
<div align="center">
	<form>
		<span>
			<label>Название</label>
			<input type="text" name="nameTemplate" value="@Model.nameTemplate" class="form" />
		</span>
		<span>
			<label>Адрес</label>
			<input type="text" name="addressTemplate" value="@Model.addressTemplate" class="form" />
		</span>
		<span>
			<input type="submit" value="🔍" />
		</span>
	</form>
</div>

<table class="table">
	<tr>
		<th>@Html.ActionLink("Название", "GetAll", "Customer", new{currentPage = @Model.CurrentPage, sortRule = "Name"}, new {@class="btn"})</td>
		<th>@Html.ActionLink("Адрес", "GetAll", "Customer", new{currentPage = @Model.CurrentPage, sortRule = "Address"}, new {@class="btn"} )</th>
		<th>@Html.ActionLink("Номер телефона", "GetAll", "Customer", new{currentPage = @Model.CurrentPage, sortRule = "TelephoneNumber"}, new {@class="btn"} )</th>
		<th>@Html.ActionLink("Количество заказов", "GetAll", "Customer", new{currentPage = @Model.CurrentPage, sortRule = "OrdersCount"}, new {@class="btn"} )</th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var customer in Model.Customers)
	{
		<tr>
			<td>@customer.Name</td>
			<td>@customer.Address</td>
			<td>@customer.TelephoneNumber</td>
			<td>@customer.ReleaseReports.Count</td>
			<td>@Html.ActionLink("Подробнее", "GetById", "Customer", new {id = @customer.CustomerId}, new {@class="btn btn-sm btn-primary"})</td>
			@if (this.User.IsInRole("admin"))
			{
				<td>
					@Html.ActionLink("Обновить", "Update", "Customer", new {id = @customer.CustomerId}, new {@class="btn btn-sm btn-primary"})
					@Html.ActionLink("Удалить", "Delete", "Customer", new {id = @customer.CustomerId}, new {@class="btn btn-sm btn-danger"})
				</td>
			}
		</tr>
	}
</table>
@Html.CreatePageNav("Customer", @Model.PageCount, @Model.CurrentPage)