@using Whosales.Domain
@model Customer
@{
	Layout = "CustomerLayout";
}

@if (Model != null)
{
	<h4>
		Информация о заказчике @Model.Name
	@if (this.User.IsInRole("admin"))
	{
			@Html.ActionLink("Обновить информацию", "Update", "Customer", new {id = @Model.CustomerId}, new {@class="btn btn-sm btn-primary"})
	}
	</h4>


	<p>Название : @Model.Name</p>
	<p>Адресс : @Model.Address</p>
	<p>Номер телефона : @Model.TelephoneNumber</p>
	<p>Оборот : @Model.ReleaseReports.Sum(x => x.Cost)</p>
	<p>Количество заказов : @Model.ReleaseReports.Count</p>
	@if (this.User.IsInRole("admin"))
	{
		@Html.ActionLink("Добавить заказ", "Add", "ReleaseReport", new{selectedCustomerId = Model.CustomerId}, new {@class="btn btn-sm btn-primary"})
	}
	<table class="table">
		<tr>
			<td>Дата заказа</td>
			<td>Имя сотрудника</td>
			<td>Название товара</td>
			<td>Количество</td>
			<td>Стоимость</td>
			<td></td>
			<td></td>
		</tr>
		@foreach (var ReleaseReport in Model.ReleaseReports)
		{
			<tr>
				<td>@ReleaseReport.OrderDate.ToShortDateString()</td>
				<td>@ReleaseReport.Employer.Name</td>
				<td>@ReleaseReport.Product.Name</td>
				<td>@ReleaseReport.Volume</td>
				<td>@ReleaseReport.Cost</td>
				<td>@Html.ActionLink("Подробнее", "GetById", "ReleaseReport", new {id = @ReleaseReport.ReleaseReportId}, new {@class="btn btn-sm btn-primary"})</td>
				@if (this.User.IsInRole("admin"))
				{
					<td>
						@Html.ActionLink("Обновить", "Update", "ReleaseReport", new {id = @ReleaseReport.ReleaseReportId}, new {@class="btn btn-sm btn-primary"})
					</td>
					<td>
						@Html.ActionLink("Удалить", "Delete", "ReleaseReport", new {id = @ReleaseReport.ReleaseReportId}, new {@class="btn btn-sm btn-danger"})
					</td>
				}
			</tr>
		}
	</table>
}
else
{
	<h2>Заказчика с данным id не обнаружено</h2>
}
