@using Whosales.Web.Models.Manufacturers;
@using Whosales.Domain
@using Whosales.Web.HtmlHelpers
@using Whosales.Web.Models;

@model ManufacturersPageViewModel
@{
	Layout = "ManufacturerLayout";
}

@Html.CreatePageNav("Manufacturer", @Model.PageCount, @Model.CurrentPage)
<div align="center">
	<form>
		<span>
			<label>Название</label>
			<input type="text" name="nameTemplate" value="@Model.nameTemplate" class="form" />
		</span>
		<span>
			<input type="submit" value="🔍" />
		</span>
	</form>
</div>

<table class="table">
	<tr>
		<th>@Html.ActionLink("Название", "GetAll", "Manufacturer", new{currentPage = @Model.CurrentPage, sortRule = "Name"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Количество товаров", "GetAll", "Manufacturer", new{currentPage = @Model.CurrentPage, sortRule = "ProductsCount"}, new {@class="btn"})</th>
	</tr>
	@foreach (var Manufacturer in Model.Manufacturers)
	{
		<tr>
			<td>@Manufacturer.Name</td>
			<td>@Manufacturer.Products.Count</td>
			<td>@Html.ActionLink("Подробнее", "GetById", "Manufacturer", new {id = @Manufacturer.ManufacturerId}, new {@class="btn btn-sm btn-primary"})</td>
			@if (this.User.IsInRole("admin"))
			{
				<td>
					@Html.ActionLink("Обновить", "Update", "Manufacturer", new {id = @Manufacturer.ManufacturerId}, new {@class="btn btn-sm btn-primary"})
					@Html.ActionLink("Удалить", "Delete", "Manufacturer", new {id = @Manufacturer.ManufacturerId}, new {@class="btn btn-sm btn-danger"})
				</td>
			}
		</tr>
	}
</table>
<!--Разделение по страницам-->
@Html.CreatePageNav("Manufacturer", @Model.PageCount, @Model.CurrentPage)
