@using Whosales.Web.Models.Employers;
@using Whosales.Domain
@using Whosales.Web.HtmlHelpers
@using Whosales.Web.Models;

@model EmployersPageViewModel
@{
	Layout = "EmployerLayout";
}

@Html.CreatePageNav("Employer", @Model.PageCount, @Model.CurrentPage)
<div align="center">
	<form>
		<span>
			<label>Имя</label>
			<input type="text" name="nameTemplate" value="@Model.nameTemplate" class="form" />
		</span>
		<span>
			<input type="submit" value="🔍" />
		</span>
	</form>
</div>

<table class="table">
	<tr>
		<th>@Html.ActionLink("Имя", "GetAll", "Employer", new{currentPage = @Model.CurrentPage, sortRule = "Name"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Объем полученных товаров", "GetAll", "Employer", new{currentPage = @Model.CurrentPage, sortRule = "RcVol"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Стоимость полученных товаров", "GetAll", "Employer", new{currentPage = @Model.CurrentPage, sortRule = "RcCost"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Объем отпуска товаров", "GetAll", "Employer", new{currentPage = @Model.CurrentPage, sortRule = "RlVol"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Стоимость отпуска товаров", "GetAll", "Employer", new{currentPage = @Model.CurrentPage, sortRule = "RlCost"}, new {@class="btn"})</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var employer in Model.Employers)
	{
		<tr>
			<td>@employer.Name</td>
			<td>@employer.ReceiptReports.Sum(x => x.Volume)</td>
			<td>@employer.ReceiptReports.Sum(x => x.Cost)</td>
			<td>@employer.ReleaseReports.Sum(x => x.Volume)</td>
			<td>@employer.ReleaseReports.Sum(x => x.Cost)</td>
			<td>@Html.ActionLink("Подробнее", "GetById", "Employer", new {id = @employer.EmployerId}, new {@class="btn btn-sm btn-primary"})</td>
			@if (this.User.IsInRole("admin"))
			{
				<td>
					@Html.ActionLink("Обновить", "Update", "Employer", new {id = @employer.EmployerId}, new {@class="btn btn-sm btn-primary"})
				</td>
				<td>
					@Html.ActionLink("Удалить", "Delete", "Employer", new {id = @employer.EmployerId}, new {@class="btn btn-sm btn-danger"})
				</td>
			}
		</tr>
	}
</table>

<!--Разделение по страницам-->
@Html.CreatePageNav("Employer", @Model.PageCount, @Model.CurrentPage)