@using Microsoft.AspNetCore.Html
@using Whosales.Domain
@using Whosales.Web.HtmlHelpers
@using Whosales.Web.Models.Products;

@model ProductsPageViewModel
@{
	Layout = "ProductLayout";
}

@Html.CreatePageNav("Product", @Model.PageCount, @Model.CurrentPage)
<div align="center">
	<form>
		<span>
			<label>Название</label>
			<input type="text" name="nameTemplate" value="@Model.nameTemplate" class="form" />
		</span>
		<span>
			<label>Производитель</label>
			@Html.EnumerableDropDown(Model.Manufacturers, x => x.ManufacturerId, x => x.Name, true, Model.ManufacturerId, "manufacturerId")
		</span>
		<span>
			<label>Тип продукции</label>
			@Html.EnumerableDropDown(Model.Types, x => x.ProductTypeId, x => x.Name, true, Model.TypeId, "typeId")
		</span>
		<span>
			<input type="submit" value="🔍" />
		</span>
	</form>
</div>
<!--Вывод таблицы-->
<table class="table">
	<tr>
		<th>@Html.ActionLink("Название", "GetAll", "Product", new{currentPage = @Model.CurrentPage, sortRule = "Name"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Производитель", "GetAll", "Product", new{currentPage = @Model.CurrentPage, sortRule = "ManufacturerName"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Тип", "GetAll", "Product", new{currentPage = @Model.CurrentPage, sortRule = "Type"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Условия хранения", "GetAll", "Product", new{currentPage = @Model.CurrentPage, sortRule = "StorageConditions"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Упаковка", "GetAll", "Product", new{currentPage = @Model.CurrentPage, sortRule = "Package"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Срок годности", "GetAll", "Product", new{currentPage = @Model.CurrentPage, sortRule = "StorageLife"}, new {@class="btn"})</th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var product in Model.Products)
	{
		<tr>
			<td>@product.Name</td>
			<td>@product.Manufacturer.Name</td>
			<td>@product.Type.Name</td>
			<td>@product.StorageConditions</td>
			<td>@product.Package</td>
			<td>@product.StorageLife.Date</td>
			<td>@Html.ActionLink("Подробнее", "GetById", "Product", new {id = @product.ProductId}, new {@class="btn btn-sm btn-primary"})</td>
			@if (this.User.IsInRole("admin"))
			{
				<td>
					@Html.ActionLink("Обновить", "Update", "Product", new {id = @product.ProductId}, new {@class="btn btn-sm btn-primary"})
					@Html.ActionLink("Удалить", "Delete", "Product", new {id = @product.ProductId}, new {@class="btn btn-sm btn-danger"})
				</td>
			}
		</tr>
	}
</table>

<!--Разделение по страницам-->
@Html.CreatePageNav("Product", @Model.PageCount, @Model.CurrentPage)