@using Whosales.Domain
@using Whosales.Web.Extentions;
@using Whosales.Web.HtmlHelpers;
@using Whosales.Web.Models;
@using Whosales.Web.Models.ReceiptReports;
@{
	Layout = "ReceiptReportLayout";
}
@model ReceiptReportUpdatePageViewModel

<div class="col-md-6 align-self-center container">
	<div class="align-self-center">
		<form method="post">
			<!--Даты-->
			<div class="form-group">
				<label class="col-form-label">Дата получения</label>
				<input value="@Model.ReceiptReport.ReciveDate.ToDatePickerView()" type="datetime-local" name="ReciveDate" class="form-control" />
			</div>
			<div class="form-group">
				<label class="col-form-label">Дата заказа</label>
				<input value="@Model.ReceiptReport.OrderDate.ToDatePickerView()" type="datetime-local" name="OrderDate" class="form-control" />
			</div>
			<div class="form-group">
				<label class="col-form-label">Дата отправки</label>
				<input value="@Model.ReceiptReport.DepartureDate.ToDatePickerView()" type="datetime-local" name="DepartureDate" class="form-control" />
			</div>

			<!--Выпадающие списки-->
			<div class="form-group">
				<label class="col-form-label">Сотрудник</label>
				@Html.EnumerableDropDown(Model.Employers, x => x.EmployerId, x => x.Name,false, Model.ReceiptReport.EmployerId, "employerId")
			</div>
			<div class="form-group">
				<label class="col-form-label">Поставщик</label>
				@Html.EnumerableDropDown(Model.Provaiders, x => x.ProvaiderId, x => x.Name,false,  Model.ReceiptReport.ProvaiderId, "provaiderId")
			</div>
			<div class="form-group">
				<label class="col-form-label">Товар</label>
				@Html.EnumerableDropDown(Model.Products, x => x.ProductId, x => x.Name,false,  Model.ReceiptReport.ProductId, "productId")
			</div>
			<div class="form-group">
				<label class="col-form-label">Склад</label>
				@Html.EnumerableDropDown(Model.Storages, x => x.StorageId, x => x.Name,false,  Model.ReceiptReport.StorageId, "storageId")
			</div>

			<!--Объём-->
			<div class="form-group">
				<label class="col-form-label">Объём</label>
				<input value="@Model.ReceiptReport.Volume" type="number" name="Volume" class="form-control" />
			</div>
			<div class="form-group">
				<label class="col-form-label">Стоимость</label>
				<input value="@Model.ReceiptReport.Cost" type="number" step="any" name="Cost" class="form-control" />
			</div>

			<div class="form-group">
				<input type="submit" class="form-control" style="margin-top:20px" />
			</div>
		</form>
	</div>
</div>