@using Microsoft.AspNetCore.Html
@using Whosales.Domain
@using Whosales.Web.HtmlHelpers
@using Whosales.Web.Models.ReleaseReports;

@model ReleaseReportsPageViewModel
@{
	Layout = "ReleaseReportLayout";
}

@Html.CreatePageNav("ReleaseReport", @Model.PageCount, @Model.CurrentPage)
<div align="center">
	<form>
		<span>
			<label>Товар</label>
			@Html.EnumerableDropDown(Model.Products, x => x.ProductId, x => x.Name, true, Model.ProductId, "productId")
		</span>
		<span>
			<label>Склад</label>
			@Html.EnumerableDropDown(Model.Storages, x => x.StorageId, x => x.Name,true, Model.StorageId, "storageId")
		</span>
		<span>
			<input type="submit" value="🔍" />
		</span>
	</form>
</div>
<!--Вывод таблицы-->
<table class="table">
	<tr>
		<th>@Html.ActionLink("Дата получения", "GetAll", "ReleaseReport", new{currentPage = @Model.CurrentPage, sortRule = "ReciveDate"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Дата заказа", "GetAll", "ReleaseReport", new{currentPage = @Model.CurrentPage, sortRule = "OrderDate"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Дата продажи", "GetAll", "ReleaseReport", new{currentPage = @Model.CurrentPage, sortRule = "ReleaseDate"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Сотрудник", "GetAll", "ReleaseReport", new{currentPage = @Model.CurrentPage, sortRule = "EmployerName"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Заказчик", "GetAll", "ReleaseReport", new{currentPage = @Model.CurrentPage, sortRule = "CustomerName"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Товар", "GetAll", "ReleaseReport", new{currentPage = @Model.CurrentPage, sortRule = "ProductName"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Склад", "GetAll", "ReleaseReport", new{currentPage = @Model.CurrentPage, sortRule = "StorageName"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Объем", "GetAll", "ReleaseReport", new{currentPage = @Model.CurrentPage, sortRule = "Volume"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Стоимость", "GetAll", "ReleaseReport", new{currentPage = @Model.CurrentPage, sortRule = "Cost"}, new {@class="btn"})</th>
		<th></th>
		<th></th>
	</tr>
	@foreach (var ReleaseReport in Model.ReleaseReports)
	{
		<tr>
			<td>@ReleaseReport.ReciveDate.ToShortDateString()</td>
			<td>@ReleaseReport.OrderDate.ToShortDateString()</td>
			<td>@ReleaseReport.ReleaseDate.ToShortDateString()</td>
			<td>@ReleaseReport.Employer.Name</td>
			<td>@ReleaseReport.Customer.Name</td>
			<td>@ReleaseReport.Product.Name</td>
			<td>@ReleaseReport.Storage.Name</td>
			<td>@ReleaseReport.Volume</td>
			<td>@ReleaseReport.Cost</td>
			<td>@Html.ActionLink("Подробнее", "GetById", "ReleaseReport", new {id = @ReleaseReport.ReleaseReportId}, new {@class="btn btn-sm btn-primary"})</td>
			@if (this.User.IsInRole("admin"))
			{
				<td>
					@Html.ActionLink("Обновить", "Update", "ReleaseReport", new {id = @ReleaseReport.ReleaseReportId}, new {@class="btn btn-sm btn-primary"})
					@Html.ActionLink("Удалить", "Delete", "ReleaseReport", new {id = @ReleaseReport.ReleaseReportId}, new {@class="btn btn-sm btn-danger"})
				</td>
			}
		</tr>
	}
</table>

<!--Разделение по страницам-->
@Html.CreatePageNav("ReleaseReport", @Model.PageCount, @Model.CurrentPage)