@using Whosales.Web.Models.Storages;
@using Whosales.Domain
@using Whosales.Web.HtmlHelpers
@using Whosales.Web.Models;

@model StoragesPageViewModel
@{
	Layout = "StorageLayout";
}

@Html.CreatePageNav("Storage", @Model.PageCount, @Model.CurrentPage)
<div align="center">
	<form>
		<span>
			<label>Название</label>
			<input type="text" name="nameTemplate" value="@Model.nameTemplate" class="form" />
		</span>
		<span>
			<input type="submit" value="🔍" />
		</span>
	</form>
</div>

<table class="table">
	<tr>
		<th>@Html.ActionLink("Название", "GetAll", "Storage", new{currentPage = @Model.CurrentPage, sortRule = "Name"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Объём хранимой продукции", "GetAll", "Storage", new{currentPage = @Model.CurrentPage, sortRule = "receiptVolume"}, new {@class="btn"})</th>
		<th>@Html.ActionLink("Объём проданой продукции", "GetAll", "Storage", new{currentPage = @Model.CurrentPage, sortRule = "releaseVolume"}, new {@class="btn"})</th>
		<th></td>
		<th></th>
	</tr>
	@foreach (var Storage in Model.Storages)
	{
		<tr>
			<td>@Storage.Name</td>
			<td>@Storage.ReceiptReports.Sum(x => x.Volume)</td>
			<td>@Storage.ReleaseReports.Sum(x => x.Volume)</td>
			<td>@Html.ActionLink("Подробнее", "GetById", "Storage", new {id = @Storage.StorageId}, new {@class="btn btn-sm btn-primary"})</td>
			@if (this.User.IsInRole("admin"))
			{
				<td>
					@Html.ActionLink("Обновить", "Update", "Storage", new {id = @Storage.StorageId}, new {@class="btn btn-sm btn-primary"})
					@Html.ActionLink("Удалить", "Delete", "Storage", new {id = @Storage.StorageId}, new {@class="btn btn-sm btn-danger"})
				</td>
			}
		</tr>
	}
</table>
<!--Разделение по страницам-->
@Html.CreatePageNav("Storage", @Model.PageCount, @Model.CurrentPage)
